<div class="name-wrapper center">
  <p>{{'rockPaperScissors.name.description' | translate}}</p>

  <div class="form-container">
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="username"
        placeholder="{{'rockPaperScissors.name.username.placeholder' | translate}}">
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="!username" class="play-button"
       [routerLink]="['/play']" [queryParams]="{name: username}">
      {{'rockPaperScissors.name.button' | translate}}
    </button>
  </div>
</div>
