@import '../app.component';

.name-wrapper {
    font-family: $default-font;

    .form-container {
        @include flex(row, center);
    
        button {
            margin-left: 20px;
        }
    }
}