/* Variables */
$default-font: 'Roboto', sans-serif;

* {
    font-family: $default-font;
}

.center {
    text-align: center;
}

/* Mixins */
@mixin flex($direction, $justifyContent) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
    align-items: baseline;
}