<div class="play-wrapper center">
  <div *ngIf="nbGamesLeft === 0" class="results">
    <div>{{'rockPaperScissors.play.playerScore' | translate: {name: name, score: playerScore} }}</div>
    <div>{{'rockPaperScissors.play.computerScore' | translate: {score: computerScore} }}</div>
  </div>

  <div *ngIf="nbGamesLeft !== 0" class="game">
    <h2>{{'rockPaperScissors.play.title' | translate}}</h2>
    <div class="img-container">
      <img src="/assets/img/rock.png" (click)="play('rock')">
      <img src="/assets/img/paper.png" (click)="play('paper')">
      <img src="/assets/img/scissors.png" (click)="play('scissors')">
    </div>
  </div>

  <div>
    <button mat-raised-button color="primary" class="back-button" [routerLink]="['/name']">
      {{'rockPaperScissors.play.backButton' | translate}}
    </button>
  </div>
</div>