@import '../app.component';

.play-wrapper {
    .game, .results {
        .img-container {
            @include flex(row, center);
        }
    }

    .game {
        img {
            margin: 20px;
            cursor: pointer;
        }
    }

    .back-button {
        margin-top: 10px;
    }
}